--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 16.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: log_migration(character varying); Type: FUNCTION; Schema: public; Owner: digest_bot
--

CREATE FUNCTION public.log_migration(p_migration_name character varying) RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO schema_migrations (migration_name, checksum)
    VALUES (p_migration_name, 'docker_migration')
    ON CONFLICT (migration_name) DO NOTHING;
    
    RAISE NOTICE 'Migration executed: %', p_migration_name;
END;
$$;


ALTER FUNCTION public.log_migration(p_migration_name character varying) OWNER TO digest_bot;

--
-- Name: update_config_settings_updated_at(); Type: FUNCTION; Schema: public; Owner: digest_bot
--

CREATE FUNCTION public.update_config_settings_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_config_settings_updated_at() OWNER TO digest_bot;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bot_categories; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.bot_categories (
    id integer NOT NULL,
    public_bot_id integer NOT NULL,
    category_id integer NOT NULL,
    custom_ai_instructions text,
    weight double precision,
    is_active boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.bot_categories OWNER TO digest_bot;

--
-- Name: bot_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.bot_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bot_categories_id_seq OWNER TO digest_bot;

--
-- Name: bot_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.bot_categories_id_seq OWNED BY public.bot_categories.id;


--
-- Name: bot_channels; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.bot_channels (
    id integer NOT NULL,
    public_bot_id integer NOT NULL,
    channel_id integer NOT NULL,
    weight double precision,
    is_active boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.bot_channels OWNER TO digest_bot;

--
-- Name: bot_channels_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.bot_channels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bot_channels_id_seq OWNER TO digest_bot;

--
-- Name: bot_channels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.bot_channels_id_seq OWNED BY public.bot_channels.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    emoji character varying(10) DEFAULT '??'::character varying,
    ai_prompt text,
    sort_order integer DEFAULT 0,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categories OWNER TO digest_bot;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO digest_bot;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: channel_categories; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.channel_categories (
    channel_id integer NOT NULL,
    category_id integer NOT NULL
);


ALTER TABLE public.channel_categories OWNER TO digest_bot;

--
-- Name: channels; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.channels (
    id integer NOT NULL,
    channel_name character varying(100) NOT NULL,
    telegram_id bigint,
    url character varying(255),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    username character varying(100),
    title character varying(255),
    description text,
    last_parsed timestamp without time zone,
    error_count integer DEFAULT 0,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.channels OWNER TO digest_bot;

--
-- Name: channels_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.channels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.channels_id_seq OWNER TO digest_bot;

--
-- Name: channels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.channels_id_seq OWNED BY public.channels.id;


--
-- Name: config_settings; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.config_settings (
    id integer NOT NULL,
    key character varying(100) NOT NULL,
    value text,
    description text,
    category character varying(50) DEFAULT 'general'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    value_type character varying(20) DEFAULT 'string'::character varying,
    is_editable boolean DEFAULT true,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.config_settings OWNER TO digest_bot;

--
-- Name: config_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.config_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.config_settings_id_seq OWNER TO digest_bot;

--
-- Name: config_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.config_settings_id_seq OWNED BY public.config_settings.id;


--
-- Name: digests; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.digests (
    id integer NOT NULL,
    digest_id character varying NOT NULL,
    total_posts integer,
    channels_processed integer,
    original_posts integer,
    relevant_posts integer,
    avg_importance double precision,
    avg_urgency double precision,
    avg_significance double precision,
    binary_relevance_applied boolean,
    with_metrics boolean,
    digest_data text,
    processed_at timestamp without time zone,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.digests OWNER TO digest_bot;

--
-- Name: digests_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.digests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.digests_id_seq OWNER TO digest_bot;

--
-- Name: digests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.digests_id_seq OWNED BY public.digests.id;


--
-- Name: posts_cache; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.posts_cache (
    id integer NOT NULL,
    channel_telegram_id bigint NOT NULL,
    telegram_message_id bigint NOT NULL,
    content text NOT NULL,
    url character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    title text,
    media_urls jsonb DEFAULT '[]'::jsonb,
    views integer DEFAULT 0,
    post_date timestamp without time zone NOT NULL,
    collected_at timestamp without time zone NOT NULL,
    userbot_metadata jsonb DEFAULT '{}'::jsonb,
    retention_until timestamp without time zone,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.posts_cache OWNER TO digest_bot;

--
-- Name: posts_cache_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.posts_cache_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.posts_cache_id_seq OWNER TO digest_bot;

--
-- Name: posts_cache_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.posts_cache_id_seq OWNED BY public.posts_cache.id;


--
-- Name: processed_data; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.processed_data (
    id integer NOT NULL,
    post_id bigint NOT NULL,
    public_bot_id integer NOT NULL,
    summaries jsonb DEFAULT '{}'::jsonb NOT NULL,
    categories jsonb DEFAULT '[]'::jsonb NOT NULL,
    metrics jsonb DEFAULT '{}'::jsonb NOT NULL,
    processed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    processing_version character varying(10) DEFAULT 'v3.1'::character varying,
    processing_status character varying(20) DEFAULT 'pending'::character varying,
    is_categorized boolean DEFAULT false,
    is_summarized boolean DEFAULT false,
    CONSTRAINT processed_data_processing_status_check CHECK (((processing_status)::text = ANY ((ARRAY['pending'::character varying, 'processing'::character varying, 'completed'::character varying, 'failed'::character varying])::text[])))
);


ALTER TABLE public.processed_data OWNER TO digest_bot;

--
-- Name: processed_data_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.processed_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.processed_data_id_seq OWNER TO digest_bot;

--
-- Name: processed_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.processed_data_id_seq OWNED BY public.processed_data.id;


--
-- Name: processed_service_results; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.processed_service_results (
    id integer NOT NULL,
    post_id bigint NOT NULL,
    public_bot_id integer NOT NULL,
    service_name character varying(64) NOT NULL,
    status character varying(32),
    payload jsonb NOT NULL,
    metrics jsonb NOT NULL,
    processed_at timestamp without time zone
);


ALTER TABLE public.processed_service_results OWNER TO digest_bot;

--
-- Name: processed_service_results_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.processed_service_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.processed_service_results_id_seq OWNER TO digest_bot;

--
-- Name: processed_service_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.processed_service_results_id_seq OWNED BY public.processed_service_results.id;


--
-- Name: public_bots; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.public_bots (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    bot_token character varying(100) NOT NULL,
    welcome_message text DEFAULT 'Привет! Добро пожаловать в MorningStarBot3!'::text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'setup'::character varying,
    default_language character varying(10) DEFAULT 'ru'::character varying,
    max_posts_per_digest integer DEFAULT 10,
    max_summary_length integer DEFAULT 150,
    categorization_prompt text,
    summarization_prompt text,
    delivery_schedule jsonb DEFAULT '{}'::jsonb,
    timezone character varying(50) DEFAULT 'Europe/Moscow'::character varying,
    digest_generation_time character varying(10) DEFAULT '09:00'::character varying,
    digest_schedule character varying(20) DEFAULT 'daily'::character varying,
    users_count integer DEFAULT 0,
    digests_count integer DEFAULT 0,
    channels_count integer DEFAULT 0,
    topics_count integer DEFAULT 0,
    CONSTRAINT public_bots_status_check CHECK (((status)::text = ANY ((ARRAY['setup'::character varying, 'active'::character varying, 'paused'::character varying])::text[])))
);


ALTER TABLE public.public_bots OWNER TO digest_bot;

--
-- Name: public_bots_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.public_bots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.public_bots_id_seq OWNER TO digest_bot;

--
-- Name: public_bots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.public_bots_id_seq OWNED BY public.public_bots.id;


--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.schema_migrations (
    migration_name character varying(255) NOT NULL,
    executed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    checksum character varying(64)
);


ALTER TABLE public.schema_migrations OWNER TO digest_bot;

--
-- Name: user_category_subscriptions; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.user_category_subscriptions (
    id integer NOT NULL,
    user_telegram_id bigint NOT NULL,
    category_id integer NOT NULL,
    public_bot_id integer NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.user_category_subscriptions OWNER TO digest_bot;

--
-- Name: user_category_subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.user_category_subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_category_subscriptions_id_seq OWNER TO digest_bot;

--
-- Name: user_category_subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.user_category_subscriptions_id_seq OWNED BY public.user_category_subscriptions.id;


--
-- Name: user_channel_subscriptions; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.user_channel_subscriptions (
    id integer NOT NULL,
    user_telegram_id bigint NOT NULL,
    channel_id integer NOT NULL,
    public_bot_id integer NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.user_channel_subscriptions OWNER TO digest_bot;

--
-- Name: user_channel_subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.user_channel_subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_channel_subscriptions_id_seq OWNER TO digest_bot;

--
-- Name: user_channel_subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.user_channel_subscriptions_id_seq OWNED BY public.user_channel_subscriptions.id;


--
-- Name: user_subscriptions; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.user_subscriptions (
    user_id integer NOT NULL,
    category_id integer NOT NULL
);


ALTER TABLE public.user_subscriptions OWNER TO digest_bot;

--
-- Name: users; Type: TABLE; Schema: public; Owner: digest_bot
--

CREATE TABLE public.users (
    id integer NOT NULL,
    telegram_id bigint NOT NULL,
    username character varying(100),
    first_name character varying(100),
    last_name character varying(100),
    language_code character varying(10) DEFAULT 'ru'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO digest_bot;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: digest_bot
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO digest_bot;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: digest_bot
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: bot_categories id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.bot_categories ALTER COLUMN id SET DEFAULT nextval('public.bot_categories_id_seq'::regclass);


--
-- Name: bot_channels id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.bot_channels ALTER COLUMN id SET DEFAULT nextval('public.bot_channels_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: channels id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.channels ALTER COLUMN id SET DEFAULT nextval('public.channels_id_seq'::regclass);


--
-- Name: config_settings id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.config_settings ALTER COLUMN id SET DEFAULT nextval('public.config_settings_id_seq'::regclass);


--
-- Name: digests id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.digests ALTER COLUMN id SET DEFAULT nextval('public.digests_id_seq'::regclass);


--
-- Name: posts_cache id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.posts_cache ALTER COLUMN id SET DEFAULT nextval('public.posts_cache_id_seq'::regclass);


--
-- Name: processed_data id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.processed_data ALTER COLUMN id SET DEFAULT nextval('public.processed_data_id_seq'::regclass);


--
-- Name: processed_service_results id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.processed_service_results ALTER COLUMN id SET DEFAULT nextval('public.processed_service_results_id_seq'::regclass);


--
-- Name: public_bots id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.public_bots ALTER COLUMN id SET DEFAULT nextval('public.public_bots_id_seq'::regclass);


--
-- Name: user_category_subscriptions id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_category_subscriptions ALTER COLUMN id SET DEFAULT nextval('public.user_category_subscriptions_id_seq'::regclass);


--
-- Name: user_channel_subscriptions id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_channel_subscriptions ALTER COLUMN id SET DEFAULT nextval('public.user_channel_subscriptions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: bot_categories; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.bot_categories (id, public_bot_id, category_id, custom_ai_instructions, weight, is_active, created_at) FROM stdin;
1	1	17	\N	1	t	2025-07-25 05:35:27.627005
2	1	16	\N	2	t	2025-07-25 05:35:27.627005
3	1	14	\N	3	t	2025-07-25 05:35:27.627005
4	1	13	\N	4	t	2025-07-25 05:35:27.627005
5	1	11	\N	5	t	2025-07-25 05:35:27.627005
6	1	15	\N	6	t	2025-07-25 05:35:27.627005
7	1	10	\N	7	t	2025-07-25 05:35:27.627005
8	1	12	\N	8	t	2025-07-25 05:35:27.627005
\.


--
-- Data for Name: bot_channels; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.bot_channels (id, public_bot_id, channel_id, weight, is_active, created_at) FROM stdin;
1	1	1	1	t	2025-07-25 05:35:22.511818
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: digest_bot
--



--
-- Data for Name: channel_categories; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.channel_categories (channel_id, category_id) FROM stdin;
\.


--
-- Data for Name: channels; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.channels (id, channel_name, telegram_id, url, is_active, created_at, username, title, description, last_parsed, error_count, updated_at) FROM stdin;
1	Dance	2500391002	\N	t	2025-07-25 05:33:16.149103	@dance_131313	Dance	Канал Dance	\N	0	2025-07-25 05:33:16.149103
\.


--
-- Data for Name: config_settings; Type: TABLE DATA; Schema: public; Owner: digest_bot
--



--
-- Data for Name: digests; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.digests (id, digest_id, total_posts, channels_processed, original_posts, relevant_posts, avg_importance, avg_urgency, avg_significance, binary_relevance_applied, with_metrics, digest_data, processed_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: posts_cache; Type: TABLE DATA; Schema: public; Owner: digest_bot
--



--
-- Data for Name: processed_data; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.processed_data (id, post_id, public_bot_id, summaries, categories, metrics, processed_at, processing_version, processing_status, is_categorized, is_summarized) FROM stdin;
\.


--
-- Data for Name: processed_service_results; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.processed_service_results (id, post_id, public_bot_id, service_name, status, payload, metrics, processed_at) FROM stdin;
\.


--
-- Data for Name: public_bots; Type: TABLE DATA; Schema: public; Owner: digest_bot
--



--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.schema_migrations (migration_name, executed_at, checksum) FROM stdin;
001_create_public_bots	2025-07-25 04:25:41.578076	docker_migration
002_create_bot_relationships	2025-07-25 04:25:41.578076	docker_migration
003_create_posts_cache	2025-07-25 04:25:41.578076	docker_migration
004_create_processed_data	2025-07-25 04:25:41.578076	docker_migration
005_create_users	2025-07-25 04:25:41.578076	docker_migration
006_create_config_settings	2025-07-25 04:25:41.578076	docker_migration
\.


--
-- Data for Name: user_category_subscriptions; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.user_category_subscriptions (id, user_telegram_id, category_id, public_bot_id, created_at) FROM stdin;
\.


--
-- Data for Name: user_channel_subscriptions; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.user_channel_subscriptions (id, user_telegram_id, channel_id, public_bot_id, created_at) FROM stdin;
\.


--
-- Data for Name: user_subscriptions; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.user_subscriptions (user_id, category_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: digest_bot
--

COPY public.users (id, telegram_id, username, first_name, last_name, language_code, is_active, created_at) FROM stdin;
\.


--
-- Name: bot_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.bot_categories_id_seq', 8, true);


--
-- Name: bot_channels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.bot_channels_id_seq', 1, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.categories_id_seq', 17, true);


--
-- Name: channels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.channels_id_seq', 1, true);


--
-- Name: config_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.config_settings_id_seq', 110, true);


--
-- Name: digests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.digests_id_seq', 1, false);


--
-- Name: posts_cache_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.posts_cache_id_seq', 53, true);


--
-- Name: processed_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.processed_data_id_seq', 35, true);


--
-- Name: processed_service_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.processed_service_results_id_seq', 980, true);


--
-- Name: public_bots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.public_bots_id_seq', 1, true);


--
-- Name: user_category_subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.user_category_subscriptions_id_seq', 1, false);


--
-- Name: user_channel_subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.user_channel_subscriptions_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: digest_bot
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: bot_categories bot_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.bot_categories
    ADD CONSTRAINT bot_categories_pkey PRIMARY KEY (id);


--
-- Name: bot_channels bot_channels_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.bot_channels
    ADD CONSTRAINT bot_channels_pkey PRIMARY KEY (id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: channel_categories channel_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.channel_categories
    ADD CONSTRAINT channel_categories_pkey PRIMARY KEY (channel_id, category_id);


--
-- Name: channels channels_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_pkey PRIMARY KEY (id);


--
-- Name: channels channels_telegram_id_key; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_telegram_id_key UNIQUE (telegram_id);


--
-- Name: config_settings config_settings_key_key; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.config_settings
    ADD CONSTRAINT config_settings_key_key UNIQUE (key);


--
-- Name: config_settings config_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.config_settings
    ADD CONSTRAINT config_settings_pkey PRIMARY KEY (id);


--
-- Name: digests digests_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.digests
    ADD CONSTRAINT digests_pkey PRIMARY KEY (id);


--
-- Name: posts_cache posts_cache_channel_telegram_id_message_id_key; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.posts_cache
    ADD CONSTRAINT posts_cache_channel_telegram_id_message_id_key UNIQUE (channel_telegram_id, telegram_message_id);


--
-- Name: posts_cache posts_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.posts_cache
    ADD CONSTRAINT posts_cache_pkey PRIMARY KEY (id);


--
-- Name: processed_data processed_data_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.processed_data
    ADD CONSTRAINT processed_data_pkey PRIMARY KEY (id);


--
-- Name: processed_data processed_data_post_id_public_bot_id_key; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.processed_data
    ADD CONSTRAINT processed_data_post_id_public_bot_id_key UNIQUE (post_id, public_bot_id);


--
-- Name: processed_service_results processed_service_results_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.processed_service_results
    ADD CONSTRAINT processed_service_results_pkey PRIMARY KEY (id);


--
-- Name: public_bots public_bots_bot_token_key; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.public_bots
    ADD CONSTRAINT public_bots_bot_token_key UNIQUE (bot_token);


--
-- Name: public_bots public_bots_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.public_bots
    ADD CONSTRAINT public_bots_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (migration_name);


--
-- Name: bot_categories uq_bot_category; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.bot_categories
    ADD CONSTRAINT uq_bot_category UNIQUE (public_bot_id, category_id);


--
-- Name: bot_channels uq_bot_channel; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.bot_channels
    ADD CONSTRAINT uq_bot_channel UNIQUE (public_bot_id, channel_id);


--
-- Name: processed_service_results uq_psr_post_bot_service; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.processed_service_results
    ADD CONSTRAINT uq_psr_post_bot_service UNIQUE (post_id, public_bot_id, service_name);


--
-- Name: user_category_subscriptions uq_user_category_bot_subscription; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_category_subscriptions
    ADD CONSTRAINT uq_user_category_bot_subscription UNIQUE (user_telegram_id, category_id, public_bot_id);


--
-- Name: user_channel_subscriptions uq_user_channel_bot_subscription; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_channel_subscriptions
    ADD CONSTRAINT uq_user_channel_bot_subscription UNIQUE (user_telegram_id, channel_id, public_bot_id);


--
-- Name: user_category_subscriptions user_category_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_category_subscriptions
    ADD CONSTRAINT user_category_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: user_channel_subscriptions user_channel_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_channel_subscriptions
    ADD CONSTRAINT user_channel_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: user_subscriptions user_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_subscriptions
    ADD CONSTRAINT user_subscriptions_pkey PRIMARY KEY (user_id, category_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_telegram_id_key; Type: CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_telegram_id_key UNIQUE (telegram_id);


--
-- Name: idx_bot_category_subscriptions; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_bot_category_subscriptions ON public.user_category_subscriptions USING btree (public_bot_id, category_id);


--
-- Name: idx_bot_channel_user_subscriptions; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_bot_channel_user_subscriptions ON public.user_channel_subscriptions USING btree (public_bot_id, channel_id);


--
-- Name: idx_categories_is_active; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_categories_is_active ON public.categories USING btree (is_active);


--
-- Name: idx_categories_sort_order; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_categories_sort_order ON public.categories USING btree (sort_order);


--
-- Name: idx_posts_cache_channel_date; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_posts_cache_channel_date ON public.posts_cache USING btree (channel_telegram_id, post_date DESC);


--
-- Name: idx_posts_cache_collected; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_posts_cache_collected ON public.posts_cache USING btree (collected_at DESC);


--
-- Name: idx_posts_cache_telegram_id; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_posts_cache_telegram_id ON public.posts_cache USING btree (channel_telegram_id, telegram_message_id);


--
-- Name: idx_processed_data_bot; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_processed_data_bot ON public.processed_data USING btree (public_bot_id);


--
-- Name: idx_processed_data_post_bot; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_processed_data_post_bot ON public.processed_data USING btree (post_id, public_bot_id);


--
-- Name: idx_processed_data_status; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_processed_data_status ON public.processed_data USING btree (processing_status);


--
-- Name: idx_psr_post_bot_service; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_psr_post_bot_service ON public.processed_service_results USING btree (post_id, public_bot_id, service_name);


--
-- Name: idx_public_bots_status; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_public_bots_status ON public.public_bots USING btree (status);


--
-- Name: idx_user_bot_channel_subscriptions; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_user_bot_channel_subscriptions ON public.user_channel_subscriptions USING btree (user_telegram_id, public_bot_id);


--
-- Name: idx_user_bot_subscriptions; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX idx_user_bot_subscriptions ON public.user_category_subscriptions USING btree (user_telegram_id, public_bot_id);


--
-- Name: ix_bot_categories_id; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX ix_bot_categories_id ON public.bot_categories USING btree (id);


--
-- Name: ix_bot_channels_id; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX ix_bot_channels_id ON public.bot_channels USING btree (id);


--
-- Name: ix_digests_digest_id; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE UNIQUE INDEX ix_digests_digest_id ON public.digests USING btree (digest_id);


--
-- Name: ix_digests_id; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX ix_digests_id ON public.digests USING btree (id);


--
-- Name: ix_processed_service_results_id; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX ix_processed_service_results_id ON public.processed_service_results USING btree (id);


--
-- Name: ix_user_category_subscriptions_id; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX ix_user_category_subscriptions_id ON public.user_category_subscriptions USING btree (id);


--
-- Name: ix_user_category_subscriptions_user_telegram_id; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX ix_user_category_subscriptions_user_telegram_id ON public.user_category_subscriptions USING btree (user_telegram_id);


--
-- Name: ix_user_channel_subscriptions_id; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX ix_user_channel_subscriptions_id ON public.user_channel_subscriptions USING btree (id);


--
-- Name: ix_user_channel_subscriptions_user_telegram_id; Type: INDEX; Schema: public; Owner: digest_bot
--

CREATE INDEX ix_user_channel_subscriptions_user_telegram_id ON public.user_channel_subscriptions USING btree (user_telegram_id);


--
-- Name: config_settings update_config_settings_updated_at; Type: TRIGGER; Schema: public; Owner: digest_bot
--

CREATE TRIGGER update_config_settings_updated_at BEFORE UPDATE ON public.config_settings FOR EACH ROW EXECUTE FUNCTION public.update_config_settings_updated_at();


--
-- Name: bot_categories bot_categories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.bot_categories
    ADD CONSTRAINT bot_categories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: bot_categories bot_categories_public_bot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.bot_categories
    ADD CONSTRAINT bot_categories_public_bot_id_fkey FOREIGN KEY (public_bot_id) REFERENCES public.public_bots(id) ON DELETE CASCADE;


--
-- Name: bot_channels bot_channels_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.bot_channels
    ADD CONSTRAINT bot_channels_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.channels(id) ON DELETE CASCADE;


--
-- Name: bot_channels bot_channels_public_bot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.bot_channels
    ADD CONSTRAINT bot_channels_public_bot_id_fkey FOREIGN KEY (public_bot_id) REFERENCES public.public_bots(id) ON DELETE CASCADE;


--
-- Name: channel_categories channel_categories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.channel_categories
    ADD CONSTRAINT channel_categories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: channel_categories channel_categories_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.channel_categories
    ADD CONSTRAINT channel_categories_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.channels(id);


--
-- Name: processed_data processed_data_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.processed_data
    ADD CONSTRAINT processed_data_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts_cache(id);


--
-- Name: processed_data processed_data_public_bot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.processed_data
    ADD CONSTRAINT processed_data_public_bot_id_fkey FOREIGN KEY (public_bot_id) REFERENCES public.public_bots(id);


--
-- Name: user_category_subscriptions user_category_subscriptions_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_category_subscriptions
    ADD CONSTRAINT user_category_subscriptions_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: user_category_subscriptions user_category_subscriptions_public_bot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_category_subscriptions
    ADD CONSTRAINT user_category_subscriptions_public_bot_id_fkey FOREIGN KEY (public_bot_id) REFERENCES public.public_bots(id) ON DELETE CASCADE;


--
-- Name: user_channel_subscriptions user_channel_subscriptions_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_channel_subscriptions
    ADD CONSTRAINT user_channel_subscriptions_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.channels(id) ON DELETE CASCADE;


--
-- Name: user_channel_subscriptions user_channel_subscriptions_public_bot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_channel_subscriptions
    ADD CONSTRAINT user_channel_subscriptions_public_bot_id_fkey FOREIGN KEY (public_bot_id) REFERENCES public.public_bots(id) ON DELETE CASCADE;


--
-- Name: user_subscriptions user_subscriptions_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_subscriptions
    ADD CONSTRAINT user_subscriptions_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: user_subscriptions user_subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: digest_bot
--

ALTER TABLE ONLY public.user_subscriptions
    ADD CONSTRAINT user_subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

